<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<style>
    .parent {
        border: 1px solid black;
        margin: 1rem;
        padding: 2rem;
        text-align: center;
    }
    .child {
        display: inline-block;
        border: 1px solid red;
        padding: 1rem;
        vertical-align: middle;
    }
</style>

<html>
    <body>

        <div>
            <div style="height: 50%; display:flex">
                <div style="width: 50%; float: left;">
                    <canvas id="myChart1"></canvas>
                </div>
                <div style="width: 50%;">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
            <div style="height: 50%; display:flex">
                <div style="width: 50%; float: left;">
                    <h3>download report</h3>
                    <a href="/export/?doc_type=csv&for_what=user"><button>user csv</button></a>
                    <a href="/export/?doc_type=csv&for_what=complaint"><button>Complain csv</button></a>
                    <br><br>
                    <a href="/export/?doc_type=pdf&for_what=user"><button>user pdf</button></a>
                    <a href="/export/?doc_type=pdf&for_what=complaint"><button>Complain pdf</button></a>
                    
                </div>
                <div style="width: 50%;">
                    <h3>go to complaint with filter</h3>
                    <a href="/complaint-list/?status=pending"><button>pending</button></a>
                    <a href="/complaint-list/?status=in_progress"><button>in progress</button></a>
                    <a href="/complaint-list/?status=completed"><button>complited</button></a>
                </div>
            </div>
        </div>


        <script>
            var chart_1_id_str = '{{ chart_1_id }}';
            var chart_1_count_str = '{{ chart_1_count }}';
            var chart_1_id = JSON.parse(chart_1_id_str);
            var chart_1_count = JSON.parse(chart_1_count_str);
            const ctx1 = document.getElementById('myChart1').getContext('2d');
            const myChart1 = new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: chart_1_id,
                    datasets: [
                        {
                            label: 'Complaint count by user',
                            data: chart_1_count,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [
                            {
                                display: true,
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        ]
                    }
                }
            });
        </script>

        <script>
            var chart_2_str = '{{ chart_2 }}';
            var chart_2 = JSON.parse(chart_2_str);
            const ctx2 = document.getElementById('myChart2').getContext('2d');
            const myChart2 = new Chart(ctx2, {
                type: 'polarArea',
                data: {
                    labels: [
                        'pending', 'in progress', 'complited'
                    ],
                    datasets: [
                        {
                            label: 'Complaint by status',
                            data: chart_2,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [
                            {
                                display: true,
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        ]
                    }
                }
            });
            
        </script>

<script>
    var chart_3_date_str = '{{ chart_3_date|safe }}';
    var chart_3_count_str = '{{ chart_3_count }}';
    var chart_3_date = JSON.parse(chart_3_date_str);
    var chart_3_count = JSON.parse(chart_3_count_str);
    const ctx3 = document.getElementById('myChart3').getContext('2d');
    const myChart3 = new Chart(ctx3, {
        type: 'line',
        data: {
            labels: chart_3_date,
            datasets: [
                {
                    label: 'Complaint by status',
                    data: chart_3_count,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                yAxes: [
                    {
                        display: true,
                        ticks: {
                            beginAtZero: true
                        }
                    }
                ]
            }
        }
    });
    
</script>


    </body>
</html>
