<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
  <a href="/logout/"><h5>logout</h5></a>

{% if request.session.role == "user" %}

<h1>USER COMPLAINT</h1>

<a href="/complaint/"><h4>POST NEW COMPLAINT</h4></a>

<table id="customers">
  <tr>
    <th>Complaint</th>
    <th>updated by</th>
    <th>Status</th>
  </tr>
  {% for i in queryset %}
  <tr>
    <td>{{ i.complaint }}</td>
    <td>{{ i.updated_by.email }}</td>
    <td>{{ i.status }}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}

{% if request.session.role == "worker" %}

<a href="/analysis/"><h5>analysis</h5></a>

<h1>COMPLAINT LIST</h1>

<table id="customers">
  <tr>
    <th>User</th>
    <th>Complaint</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  {% for i in queryset %}
  <tr>
    <td>{{ i.created_by.email }}</td>
    <td>{{ i.complaint }}</td>
    <td>{{ i.status }}</td>
    <td>
      <a href="/status-update/?id={{i.id}}&status=pending&redirect={{redirect}}">pending</a>
      <br>
      <a href="/status-update/?id={{i.id}}&status=in_progress&redirect={{redirect}}">in progress</a>
      <br>
      <a href="/status-update/?id={{i.id}}&status=completed&redirect={{redirect}}">completed</a>
    </td>

  </tr>
  {% endfor %}
</table>
{% endif %}

</body>
</html>


